.devspace-message-area{
    width: var(--width-devspace-message-area);    
    height: 940px;
    background-color: var(--white-color);    
    border-radius: 30px;
    display: flex;
    flex-shrink: 0;
}