.app-message-input-area{
    padding-left: 71px;
    padding-right: 71px;
}

.devspace-message-area {
    height: 940px;
    background-color: var(--white-color);
    border-radius: 30px;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.devspace-message-add-area-input {
    border-radius: 30px;
    border: 1px solid var(--light-purple);
    color: var(--black-color);
    width: 100%;
    height: 55px;
    padding: 15px 20px 15px 20px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    overflow: auto;

    &:hover {
        border: 1px solid var(--purple-3);
        cursor: pointer;
    }

    &:focus {
        outline: none;
        border: 1px solid var(--purple-3);
    }

    &::placeholder {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-normal);
        line-height: 100%;
        color: var(--grey-dark);
    }
}

.devspace-message-add-area-input.placeholder-active::before {
    content: "An: #channel, oder @jemand ";
    color: gray;
    pointer-events: none;
}

.devspace-message-title {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-shrink: 0;
    gap: 20px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    height: 160px;
    padding: 32px 45px 20px 45px;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    & span:nth-of-type(1) {
        font-size: var(--font-size-title-default);
        font-weight: var(--font-weight-extra-bold);
        color: var(--black-color);
    }

    .devspace-message-channel-search {
        display: flex;
        position: absolute;
        flex-direction: column;
        bottom: -75%;
        left: 80px;
        max-width: 350px;
        min-height: 150px;
        height: fit-content;
        overflow: auto;
        background-color: var(--white-color);
        border: 1px solid var(--light-purple);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 20px 20px 20px 20px;
        gap: 15px;
        z-index: 100;

        & span {
            display: flex;
            align-items: center;
            width: 100%;
            height: 33px;
            gap: 10px;
            font-size: var(--font-size-m);
            font-weight: var(--font-weight-normal);
            line-height: 100%;
            color: var(--black-color);
            padding-right: 20px;
            padding-left: 20px;
            cursor: pointer;

            &:hover {
                background-color: var(--bg-color);
                border-radius: 35px;

                & img {
                    content: url('../../../assets/img/tagHover.png');
                }
            }
        }
    }

}

.devspace-message-contact-search {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: -215%;
    left: 80px;
    width: 350px;
    height: 370px;
    overflow: auto;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    gap: 15px;
    z-index: 100;
}

.devspace-message-contact-bar {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -360px;
    left: 20px;
    width: 350px;
    height: 370px;
    overflow: auto;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px;
    gap: 15px;
    z-index: 100;
}

.selected-Contact-Item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    color: black;
    padding-left: 20px;
    cursor: pointer;

    & span:nth-of-type(1) {
        position: relative;
        & img {
            width: 50px;
            height: 50px;
        }

        & span {
            position: absolute;
        }
    }

    &:hover {

        background-color: var(--bg-color);
        border-radius: 35px;
    }
}
