@use '@themes/mixins.scss' as *;

.chat-topbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  gap: 20px;

  @include respond(m) {
    padding-left: 20px;
  }
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  width: auto;

  @include respond(xs) {
    width: auto;
  }

  @include respond(m) {
    width: auto;
  }

  @include respond(l) {
    width: auto;
  }

  & img {
    width: 70px;
    height: 70px;
    flex-shrink: 0;
  }

  & span {
    display: block;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond(s) {
      display: block;
    }
    @include respond(m) {
      display: none;
    }
    @include respond(l) {
      display: block;
    }
  }
}

.search {
  width: 50vw;
  display: none;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  border-radius: 42px;
  padding: 17.5px 45px 17.5px 45px;
  gap: 0 149px 0 114px;

  @include respond(m) {
    display: flex;
  }

  & input {
    width: 90%;
    height: 33px;
    border: none;
    font-size: var(--font-size-title-default);
    font-weight: var(--font-weight-normal);
    line-height: 24.55px;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: var(--font-size-title-default);
      font-weight: var(--font-weight-normal);
      line-height: 100%;
      color: var(--grey-dark);
    }
  }
}

.header {
  &-username {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    line-height: 100%;
    color: var(--black-color);
  }

  &-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 125ms ease-in-out;
    flex-shrink: 0;
    justify-content: end;

    & span:nth-of-type(1) {
      display: none;

      @include respond(l) {
        display: block;
      }
    }
  }

  &-icon-arrow {
    width: 30px;
    height: 30px;

    &:hover {
      cursor: pointer;

      & span:nth-of-type(1) {
        color: var(--secondary-color);
      }

      .header-icon-arrow {
        content: url('/assets/img/keyboard_arrow_down_hover.png');
      }
    }
  }
}

.header-icon-img {
  position: relative;

  & img {
    height: 70px;
    width: 70px;
  }
}
