@use '@themes/mixins.scss' as *;

.chat-topbar {
  display: flex;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 40px;
  padding-right: 20px;

  @include respond(b) {
    padding: 0 20px;
    margin-top: 0px;
    margin-bottom: 5px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 10px;
  width: auto;
  margin-right: 114px;
  cursor: pointer;

  .arrow {
    width: 25px;
    height: 25px;
  }

  @include respond(m) {
    width: auto;
  }

  @include respond(l) {
    width: auto;
  }

  & img {
    width: 45px;
    height: auto;
    flex-shrink: 0;

    @include respond(m) {
      width: 70px;
      height: auto;
    }

    @include respond(b) {
      width: 50px;
      height: auto;
    }
  }

  & span {
    display: block;
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-extra-bold);

    @include respond(s) {
      display: block;
      font-size: var(--font-size-xl);
    }

    @include respond(m) {
      display: none;
    }

    @include respond(l) {
      display: block;
    }
  }
}

.header {
  cursor: pointer;

  &-username {
    text-align: right;
    width: 200px;
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-extra-bold);
    line-height: 100%;
    color: var(--black-color);
    margin-left: 20px;

    @include respond(m) {
      display: block;
    }
  }

  &-icon {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 125ms ease-in-out;
    flex-shrink: 0;
    justify-content: end;

    @include respond(s) {
      gap: 20px;
    }
  }

  &-icon-img {
    position: relative;
    display: flex;
    flex-shrink: 0;

    & img {

      border-radius: 42px;
      width: 45px;
      height: auto;

      @include respond(s) {
        width: 70px;
        gap: 20px;
      }

      @include respond(b) {
        width: 60px;
        gap: 20px;

    }

     @include respond(mb) {
        width: 50px;
        gap: 20px;

    }
    }
  }

  &-icon-arrow {
    width: 30px;
    height: 30px;

    &:hover {
      cursor: pointer;

      & span:nth-of-type(1) {
        color: var(--secondary-color);
      }

      .header-icon-arrow {
        content: url('../../../assets/img/keyboard_arrow_down_hover.png');
      }
    }
  }

  @include respond(b) {
    & mat-icon {
      display: none;
    }
  }
}

.active-Account-Icon-header {
  bottom: -6px;
  left: 33.33px;

  @include respond(s) {
    bottom: -3px;
    left: 50px;
  }
}

.active-Account-Icon-None-header {
  bottom: -6px;
  left: 33.33px;

  @include respond(s) {
    bottom: -3px;
    left: 50px;
  }
}