<section class="member-delete-dialog">

    <div class="member-close"><span (click)="close()"><img src="assets/img/dialogClose.png" alt=""></span></div>
    @if(data.channel.creator == devspaceService.loggedInUserUid){
        <div class="member-delete-dialog-header">
        <span>Möchten Sie wirklich den Channel </span>
        <span class="name-Member">{{data.channel.title}}</span>
        <span> komplett entfernen?</span>
    </div>
    }@else {
        <div class="member-delete-dialog-header">
        <span>Möchten Sie wirklich den Channel </span>
        <span class="name-Member">{{data.channel.title}}</span>
        <span> verlassen?</span>
    </div>
    }
    

    <div class="member-delete-dialog-button">
        <span class="button-secondary-message" (click)="close()">Abbrechen</span>
        <span class="button-primary" (click)="leaveChannel()">Entfernen</span>
    </div>

</section>
