<div class="container">
    <form class="box form">
        <div class="icon" (click)="backToLogin()">
            <mat-icon aria-hidden="false" aria-label="mail" fontIcon="arrow_back"></mat-icon>
        </div>
        <div class="title">
            <span class="title-auth">Passwort zurücksetzen</span>
        </div>
        <div class="input-container">
            <div>
                <div class="input-bg">
                    <input [formControl]="passwordFormControl" type="password" placeholder="Neues Passwort">
                    @if(passwordFormControl.errors?.['minlength']){
                    <p>Mindestens 8 Zeichen erforderlich.</p>
                    }
                </div>
            </div>
            <div>
                <div class="input-bg">
                    <input [formControl]="confirmPasswordFormControl" type="password"
                        placeholder="Neues Passwort bestätigen">
                    @if(confirmPasswordFormControl.touched || confirmPasswordFormControl.dirty){
                    @if(passwordForm.errors?.['mismatch']){
                    <p>Passwörter stimmen nicht überein.</p>
                    }
                    }
                </div>
            </div>
        </div>

        <div class="btn-container">
            <button [disabled]="passwordFormControl.invalid" class="button-primary" (click)="resetPassword()">Passwort
                ändern</button>
        </div>
    </form>
    <app-overlay>
        <span>
            Anmelden
        </span>
    </app-overlay>
</div>