<div class="edit">
    <div class="edit-title">
        <span>Ändern</span>
        <span class="edit-close" (click)="closeDialog()"><img src="/assets/img/dialogClose.png" alt=""></span>
    </div>
    <div class="edit-area">
        <div class="edit-text">
            <p>Willst du diese Nachricht speichern oder löschen?</p>
        </div>

        <div class="edit-buttons">
            <span class="button-secondary-message " (click)="deleteMessage()">Löschen</span>
            <span class="button-primary" (click)="saveMessage()">Speichern</span>
        </div>

    </div>


</div>