<mat-dialog-content class="profile-dialog">
  <div class="profile-dialog-title-wrapper">
    <h2>Profil</h2>
    <button mat-icon-button class="close-btn" (click)="closeDialog()">
      <mat-icon
        [style.font-size]="IconSize.Medium"
        [style.color]="IconColor.Black"
        class="arrow-icon"
      >
        close
      </mat-icon>
    </button>
  </div>

  <div class="profile-header">
    @if (user?.active) {
    <img class="profile-img" [src]="user?.pic" alt="Profile picture" />
    }
  </div>

  <div class="profile-info-item">
    @if (user) {
    <div class="profile-info-header">
      @if (!isEditing) {
      <h3>{{ user.name }}</h3>
      <button (click)="openEditDialog()" class="button-linkstyle">
        Bearbeiten
      </button>
      } @else {
      <input type="text" [formControl]="nameControl" placeholder="new name" />
      <button
        class="button-primary"
        [disabled]="nameControl.invalid"
        (click)="changeName()"
      >
        Speichern
      </button>
      }
    </div>
    }

    <div class="status">
      <div class="status-indicator"></div>
      <div class="status-text">Aktiv</div>
    </div>
  </div>

  <div class="profile-info">
    <div class="profile-info-item">
      <div class="profile-info-item-mail">
        <mat-icon
          [style.font-size]="IconSize.Medium"
          [style.color]="IconColor.White"
        >
          mail_outline
        </mat-icon>
        <strong>E-Mail-Adresse</strong>
      </div>
      @if (secretData?.email) {
      <a [href]="'mailto:' + secretData.email">{{ secretData.email }}</a>
      }
    </div>
  </div>

  <div class="btn-container btn-container--center">
    <button class="button-primary-icon">
      <mat-icon [style.font-size]="IconSize.Medium"> mail_outline </mat-icon>
      Nachricht
    </button>
  </div>
</mat-dialog-content>
