<mat-dialog-content class="profile-dialog">
  <div class="profile-dialog-title-wrapper">
    <h2>@if (isEditing) { Dein Profil bearbeiten } @else { Profil }</h2>
    <div class="button-icon-only" (click)="closeDialog()">
      <mat-icon
        [style.font-size]="IconSize.Medium"
        [style.color]="IconColor.Black"
        >close</mat-icon
      >
    </div>
  </div>

  <div class="profile-header">
    <img class="profile-img" [src]="user?.pic" alt="Profile picture" />
  </div>

  @if (!isEditing) {
  <div class="profile-info-item">
    <div class="profile-info-header">
      <h3>{{ user?.name }}</h3>

      @if (isOwnProfile) {
      <button (click)="openEditDialog()" class="button-linkstyle">
        Bearbeiten
      </button>
      }
    </div>

    <div class="status">
      <div class="status-indicator"></div>
      <div class="status-text">Aktiv</div>
    </div>
  </div>

  <div class="profile-info">
    <div class="profile-info-item">
      <div class="profile-info-item-mail">
        <mat-icon
          [style.font-size]="IconSize.Medium"
          [style.IconColor]="IconColor.White"
        >
          mail_outline
        </mat-icon>
        <strong>E-Mail-Adresse</strong>
      </div>
      @if (secretData) {
      <a [href]="'mailto:' + secretData.email">{{ secretData.email }}</a>
      }
    </div>
  </div>

  <div class="btn-container btn-container--center">
    <button class="button-primary-icon">
      <mat-icon
        [style.font-size]="IconSize.Medium"
        [style.color]="IconColor.White"
      >
        mail_outline
      </mat-icon>
      Nachricht
    </button>
  </div>

  } @else {
  <div>
    <div class="profile-edit">
      <img src="assets/icons/account_circle.svg" alt="user icon" />
      Vollständiger Name
    </div>

    <div class="input-bg input-bg--profile">
      <input
        id="name"
        type="text"
        [formControl]="nameControl"
        placeholder="Dein Name"
      />
    </div>
  </div>

  <div class="btn-container btn-container--center">
    <button class="button-secondary" (click)="cancelEdit()">Abbrechen</button>
    <button
      class="button-primary"
      [disabled]="nameControl.invalid"
      (click)="changeName()"
    >
      Speichern
    </button>
  </div>
  }
</mat-dialog-content>
