<section class="devspace">
    <div class="devspace-header">
        <div class="devspace-logo">
            <img src="./img/WorkspaceLogo.png" alt="">
            <p>Devspace</p>
        </div>
        <div class="devspace-edit-logo"><img src="./img/DevEdit.png" alt=""></div>
    </div>

    <div class="devspace-channels">
        <div class="devspace-channel-title">
            <div class="devspace-channel-title-content" (click)="channelActive()">
                <span>@if(activeChannel){<img [class.active-Channel-Icon]="activeChannel"  src="./img/arrow_drop_down_right.png" alt="">}@else{
                    <img [class.active-Channel-Icon-None]="activeChannel == false"  src="./img/arrow_drop_down.png" alt="">}</span>
                <div>
                    <span><img src="./img/workspaces.png" alt=""></span>
                    <span>Channels</span>
                </div>
            </div>
            <span (click)="openDialog()" class="devspace-add-channel"><img src="./img/addChannel.png" alt=""></span>
        </div>
    </div>

</section>