@if(devspaceService.openDevspace){
<section class="devspace">
  <app-searchbar variant="mobile"></app-searchbar>

  @if(!breakpoints.breankpointMain){
  <div class="devspace-header">
    <div class="devspace-logo">
      <img src="/assets/img/WorkspaceLogo.png" alt="" />
      <p>Devspace</p>
    </div>
    <div class="button-secondary-icon" (click)="openMessage()">
      <img src="/assets/img/dev-edit.svg" alt="" />
    </div>
  </div>
  }

  <div class="devspace-channels">
    <div class="devspace-channel-title">
      <div class="devspace-channel-title-content" (click)="channelActive()">
        <span>
          <img
            [class.active-Channel-Icon]="activeChannel"
            [class.active-Channel-Icon-None]="!activeChannel"
            [src]="imageUrl"
            alt=""
          />
        </span>
        <div>
          <span><img src="/assets/img/workspaces.svg" alt="" /></span>
          <span>Channels</span>
        </div>
      </div>
      <span (click)="openDialog()" class="devspace-add-channel">
        <img src="/assets/img/add-channel.svg" alt="" />
      </span>
    </div>

    @if(!activeChannel){

    <div class="devspace-channel-list">
      @for(item of devspaceService.channels; track i; let i = $index){
      <div
        class="devspace-channel-list-item"
        [class.activeChannel]="item.id === devspaceService.selectedChannelId"
        (click)="channelActiveClass(item.id ?? ''); closeMessage()"
      >
        <span><img src="/assets/img/tagChannelName.png" alt="" /></span>
        <div class="devspace-channel-list-item-name">
          <span>{{ item.title }}</span>
        </div>
      </div>
      } @empty {
      <div><span>Erstelle einen Channel</span></div>
      }
    </div>

    <div class="devspace-add-channel-button" (click)="openDialog()">
      <img src="/assets/img/add_circle.png" alt="" />
      <p>Channel hinzufügen</p>
    </div>
    }
  </div>

  <div class="devspace-direct-messages">
    <div class="devspace-direct-messages-title" (click)="messageActive()">
      <span>
        <img
          [class.active-Message-Icon]="directMessages"
          [class.active-Message-Icon-None]="!directMessages"
          [src]="imageUrlMessage"
          alt=""
        />
      </span>
      <div class="devspace-direct-messages-title-content">
        <span><img src="/assets/img/account_circle.svg" alt="" /></span>
        <span>Direktnachrichten</span>
      </div>
    </div>

    @if(!directMessages){
    <div class="devspace-direct-messages-list">
      @for(item of devspaceService.accounts; track item.displayName; let i =
      $index){
      <app-user-list-item
        [user]="item"
        [currentUserUid]="devspaceService.loggedInUserUid"
        [isActive]="i === selectedUserIndex"
        (userClicked)="messageActiveClass(i); closeMessage()"
      ></app-user-list-item>
      } @empty {
      <div>Keine Kontakte vorhanden</div>
      }
    </div>
    }
  </div>

  @if(breakpoints.breankpointMain){
  <div class="devspace-edit-logo-mobile">
    <img src="/assets/img/edit_square.png" alt="" />
  </div>
  }
</section>
}
