@use '@themes/mixins.scss' as *;
@use '@themes/inputs.scss' as *;

.devspace {
  width: 366px;
  height: 940px;
  background-color: var(--white-color);
  padding: 32px 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;

  .mobile-search {
    border: 1px var(--light-purple) solid;
    width: 100%;
    padding: 8px 24px;
    @include search-style;
    display: flex;

    @include respond(m) {
      display: none;
    }
  }

  .devspace-header {
    display: flex;
    align-items: center;
    width: 306px;
    height: 60px;
    justify-content: space-between;

    .devspace-logo {
      display: flex;
      align-items: center;
      gap: 15px;
      font-size: var(--font-size-title-default);
      font-weight: var(--font-weight-extra-bold);
      line-height: 32.74px;
    }

    .devspace-edit-logo-mobile {
      width: 60px;
      height: 60px;
      background-color: var(--primary-color);
      position: absolute;
      bottom: 57px;
      right: 16px;
      padding: 8px 8px 0 10px;
      border-radius: 50%;
      box-shadow: none;
      border: none;

      img {
        width: 40px;
        height: 40px;
      }

      &:hover {
        background-color: var(--secondary-color);
        cursor: pointer;
      }

      &:active {
        background-color: var(--primary-color);
      }
    }
  }

  .devspace-channels {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: height 0.75ms ease-in-out;

    .devspace-channel-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 46px;

      .devspace-channel-title-content {
        display: flex;
        align-items: center;
        gap: 15px;
        transition: all 0.75ms ease-in-out;

        div {
          display: flex;
          gap: 10px;
          font-size: var(--font-size-l);
          font-weight: var(--font-weight-extra-bold);
          line-height: 27.28px;
        }

        &:hover {
          cursor: pointer;

          .active-Channel-Icon {
            content: url('/assets/img/arrow_drop_down_right_hover.png');
          }

          .active-Channel-Icon-None {
            content: url('/assets/img/arrow_drop_downHover.png');
          }

          div {
            color: var(--primary-color);
            transition: all 0.75ms ease-in-out;

            img {
              content: url('/assets/img/workspacesHover.png');
            }
          }
        }
      }

      .devspace-add-channel {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          cursor: pointer;
          background-color: var(--bg-color);
          border-radius: 50%;
          transition: all 0.75ms ease-in-out;

          img {
            content: url('/assets/img/addChannelHover.png');
          }
        }
      }
    }

    .devspace-channel-list {
      display: flex;
      flex-direction: column;
      gap: 13px;
      padding-left: 30px;

      .devspace-channel-list-item {
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 0 15px;
        height: 33px;
        width: fit-content;
        cursor: pointer;
        transition: all 0.75ms ease-in-out;

        span {
          font-size: var(--font-size-m);
          font-weight: var(--font-weight-normal);
          line-height: 24.55px;
          color: black;
        }

        &:hover {
          background-color: var(--bg-color);
          border-radius: 20px;

          img {
            content: url('/assets/img/tagHover.png');
          }
        }
      }

      .devspace-channel-list-item-name {
        width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .activeChannel {
        background-color: var(--bg-color);
        border-radius: 20px;

        img {
          content: url('/assets/img/tagHover.png');
        }

        span {
          color: var(--purple-3);
          font-weight: var(--font-weight-extra-bold);
        }
      }
    }

    .devspace-add-channel-button {
      display: flex;
      align-items: center;
      padding-left: 45px;
      gap: 15px;
      height: 33px;
      transition: all 0.75ms ease-in-out;

      p {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-normal);
        line-height: 24.55px;
        color: black;
      }

      &:hover {
        cursor: pointer;

        img {
          content: url('/assets/img/add_circle_hover.png');
        }

        p {
          color: var(--purple-3);
        }
      }
    }
  }

  .devspace-direct-messages {
    display: flex;
    flex-direction: column;
    gap: 25px;
    min-height: 162px;

    .devspace-direct-messages-title {
      display: flex;
      align-items: center;
      gap: 15px;
      height: 40px;

      .devspace-direct-messages-title-content {
        display: flex;
        gap: 15px;

        span:nth-of-type(1) {
          width: 24px;
          height: 24px;
          transition: all 125ms ease-in-out;
        }

        span:nth-of-type(2) {
          font-size: var(--font-size-l);
          font-weight: var(--font-weight-extra-bold);
          line-height: 27.28px;
          transition: all 125ms ease-in-out;
        }
      }

      &:hover {
        cursor: pointer;

        .active-Message-Icon {
          content: url('/assets/img/arrow_drop_down_right_hover.png');
        }

        .active-Message-Icon-None {
          content: url('/assets/img/arrow_drop_downHover.png');
        }

        .devspace-direct-messages-title-content {
          span:nth-of-type(2) {
            color: var(--purple-3);
          }

          span:nth-of-type(1) {
            content: url('/assets/img/account_circle_hover.png');
          }
        }
      }
    }

    .devspace-direct-messages-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
      padding-left: 40px;
    }
  }
}
