@if(devspaceService.openDevspace){

<section class="devspace">

    @if(!breakpoints.breankpointMain){
    <div class="devspace-header">
        <div class="devspace-logo">
            <img src="assets/img/WorkspaceLogo.png" alt="">
            <p>Devspace</p>
        </div>
        <div class="devspace-edit-logo" (click)="openMessage()"><img src="assets/img/DevEdit.png" alt=""></div>
    </div>
    }
    <div class="devspace-channels">
        <div class="devspace-channel-title">
            <div class="devspace-channel-title-content" (click)="channelActive()">
                <span>
                    <img [class.active-Channel-Icon]="activeChannel" [class.active-Channel-Icon-None]="!activeChannel"
                        [src]="imageUrl" alt="">
                </span>
                <div>
                    <span><img src="assets/img/workspaces.png" alt=""></span>
                    <span>Channels</span>
                </div>
            </div>
            <span (click)="openDialog()" class="devspace-add-channel"><img src="assets/img/addChannel.png"
                    alt=""></span>
        </div>
        @if(!activeChannel){

        <div class="devspace-channel-list">

            @for(item of devspaceService.channels; track i; let i = $index){
            <div [class.activeChannel]="item.id === devspaceService.selectedChannelId"
                class="devspace-channel-list-item" (click)="channelActiveClass(item.id ?? ''); closeMessage()">
                <span><img src="assets/img/tagChannelName.png" alt=""></span>
                <div class="devspace-channel-list-item-name">
                    <span>{{item.title}}</span>
                </div>
            </div>
            }@empty{
            <div>
                <span>Erstelle einen Channel</span>
            </div>
            }
        </div>
        <div class="devspace-add-channel-button" (click)="openDialog()"><img src="assets/img/add_circle.png" alt="">
            <p>Channel hinzufügen</p>
        </div>
        }
    </div>

    <div class="devspace-direct-messages">
        <div class="devspace-direct-messages-title" (click)="messageActive()">
            <span><img [class.active-Message-Icon]="directMessages" [class.active-Message-Icon-None]="!directMessages"
                    [src]="imageUrlMessage" alt=""></span>
            <div class="devspace-direct-messages-title-content">
                <span><img src="assets/img/account_circle.png" alt=""></span>
                <span>Direktnachrichten</span>
            </div>
        </div>
        @if(!directMessages){
        <div class="devspace-direct-messages-list">
            @for(item of devspaceService.dmAccounts; track i; let i = $index){
            <div class="devspace-direct-messages-item" (click)="messageActiveClass(i);closeMessage()"
                [class.active-Account]="devspaceService.activeDMContact === i">
                <span class="devspace-direct-messages-icon"><img src="{{item.userData.profile}}" alt="">
                    @if(devspaceService.dmAccounts[i].userData.online){<span class="active-Account-Icon"></span>
                    }@else{<span class="active-Account-Icon-None"></span>}
                </span>
                <div class="devspace-direct-messages-name-area">
                    <span class="devspace-direct-messages-name">{{item.userData.displayName}}</span>
                    <span>@if(devspaceService.loggedInUserUid === devspaceService.dmAccounts[i].userData.uid){(Du)}
                    </span>
                </div>
            </div>
            }@empty{
            <div>Keine Kontakte vorhanden</div>
            }
        </div>
        }
    </div>
    @if(breakpoints.breankpointMain){
    <div class="devspace-edit-logo-mobile"> <img src="assets/img/edit_square.png" alt=""></div>
    }
</section>
}