<section class="devspace-dialog">
    <div class="devspace-dialog-header">
        <span>Channel erstellen</span>
        <span (click)="closeDialog()"><img src="assets/img/dialogClose.png" alt=""></span>
    </div>
    <div class="devspace-dialog-title">
        @if(devspaceService.createNewChannel){
            <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
                Beispiel.</p>
        } @else {
            <p>Sie haben bei neue Nachricht, mehrere Kontakte ausgewählt, bitte erstellen sie einen Channel</p>
        }        
    </div>
    <div class="devspace-dialog-input-Name">
        <span>Channel-Name</span>
        <div class="devspace-dialog-input-area" >
        <input type="text" placeholder=" z.B. Kooperationsprojekte" #channelInput class="devspace-dialog-input"
            [class.devspace-dialog-input-Error]="channelInputError" 
            maxlength="20" 
            (input)="maxCharsInputControll()">
            <span class="devspace-dialog-input-counter" [class.devspace-dialog-input-counter-error]="channelInputError" >{{charsLeft}}</span>
        @if(channelInputError){
        <div class="devspace-dialog-input-Name-Error">
            @if(charsOver){
                <span>Channel-Name darf max 20 Zeichen haben!</span>
                } @else if(charsEmpty){
                <span>Channel-Name darf nicht leer sein!</span>
                }
        </div>
        }
    </div>
    </div>

    <div class="devspace-dialog-input-Description">
        <span>
            <p>Beschreibung</p>
            <p>(optional)</p>
        </span>
        <textarea placeholder="Dein Text hier" #channelDescription></textarea>
        
    </div>

    <div class="devspace-dialog-create" (click)="createChannel()"><span>Erstellen</span></div>
</section>