<section class="devspace-dialog">
    <div class="devspace-dialog-header">
        <span>Channel erstellen</span>
        <span (click)="closeDialog()"><img src="/assets/img/dialogClose.png" alt=""></span>
    </div>
    <div class="devspace-dialog-title">
        <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum
            Beispiel.</p>
    </div>
    <div class="devspace-dialog-input-Name">
        <span>Channel-Name</span>
        <div class="devspace-dialog-input-area" >
        <input type="text" placeholder=" z.B. Kooperationsprojekte" #channelInput class="devspace-dialog-input"
            [class.devspace-dialog-input-Error]="channelInputError" 
            maxlength="20" 
            (input)="chars()">
            <span class="devspace-dialog-input-counter" [class.devspace-dialog-input-counter-error]="channelInputError" >{{charsLeft}}</span>
        @if(channelInputError){
        <div class="devspace-dialog-input-Name-Error">
            <span>Channel-Name darf max 20 Zeichen haben!</span>
        </div>
        }
    </div>
    </div>

    <div class="devspace-dialog-input-Description">
        <span>
            <p>Beschreibung</p>
            <p>(optional)</p>
        </span>
        <textarea placeholder="Dein Text hier" #channelDescription></textarea>
        
    </div>

    <div class="devspace-dialog-create" (click)="createChannel()"><span>Erstellen</span></div>
</section>