<div class="edit">
    <div class="edit-title">
        <span>Löschen</span>
        <span class="edit-close" (click)="closeDialog()"><img src="assets/img/dialogClose.png" alt=""></span>
    </div>
    <div class="edit-area">
        <div class="edit-text">
            <p>Willst du diese Nachricht wirklich löschen?</p>
        </div>

        <div class="edit-buttons">
            <span class="button-secondary-message btn" (click)="deleteMessage()">Ja</span>
            <span class="button-primary btn" (click)="closeDialog()">Nein</span>
        </div>

    </div>


</div>