<div class="container">
    <form class="box form">
        <div class="title">
            <span class="title-auth">Anmeldung</span>
            <span>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</span>
        </div>
        <div>
            <div class="input-container">
                <div>
                    <div class="input-bg">
                        <mat-icon aria-hidden="false" aria-label="mail" fontIcon="mail_outline"></mat-icon>
                        <input [formControl]="emailFormControl" type="email" placeholder="beispielname@email.com">
                        @if (emailFormControl.invalid && (emailFormControl.touched || emailFormControl.dirty)) {
                        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
                        <p>
                            *Diese E-Mail-Adresse ist leider ungültig.
                        </p>
                        }
                        }
                    </div>

                </div>
                <div>
                    <div class="input-bg">
                        <mat-icon aria-hidden="false" aria-label="lock" fontIcon="lock_outline"></mat-icon>
                        <input [formControl]="passwordFormControl" type="password" placeholder="Passwort">
                        @if (passwordFormControl.invalid && (passwordFormControl.touched || passwordFormControl.dirty))
                        {
                        @if (passwordFormControl.hasError('failed') && !passwordFormControl.hasError('required')) {
                        <p>
                            Falsches Passwort oder E-Mail.. Bitte noch einmal versuchen.
                        </p>
                        }
                        }
                        @if(emailLoginError){
                        <p>{{emailLoginError}}</p>
                        }
                        @if(googleLoginError){
                        <p>{{googleLoginError}}</p>
                        }
                    </div>
                </div>
                <div class="forgot-password" (click)="navigateTo('send-email')">
                    <a> Passwort vergessen?</a>
                </div>
            </div>
        </div>
        <div class="or-container">
            <div></div>
            <span>ODER</span>
            <div></div>
        </div>
        <div class="input-bg-google" (click)="signInWithGoogle()">
            <div>
                <img src="assets/google.svg" alt="">
                <span>Anmelden mit Google</span>
            </div>
        </div>
        <div class="btn-container">
            <button [disabled]="emailFormControl.invalid || passwordFormControl.invalid" class="button-primary"
                (click)="signIn()">Anmelden</button>
            <button class="button-secondary" (click)="loginAsGuest()">Gäste-Login</button>
        </div>

    </form>

    <div class="register-container">
        <span>Neu bei DABuble?</span>
        <a (click)="navigateTo('signup')">Konto erstellen</a>
    </div>
</div>