<section class="edit-channel">
    <div class="edit-channel-header">
        <div class="edit-channel-name">
            <span><img src="/assets/img/tagChannelName.png" alt=""></span>
            <span>{{filterChannel[0].title}}</span>
        </div>
        <span (click)="closeDialog()" class="edit-channel-header-close"><img src="/assets/img/dialogClose.png"
                alt=""></span>
    </div>
    @if(editChannelName){
    <div class="edit-channel-input">
        <div class="edit-channel-description-textarea">
            <div><span>Channel-Name</span>@if(filterChannel[0].creator == devspaceService.loggedInUserUid){<span (click)="editChannelName = false">Bearbeiten</span>} </div>
            <div><span><img src="/assets/img/tagChannelName.png" alt=""></span> {{filterChannel[0].title}}</div>
        </div>
    </div>
    } @else{
    <div class="edit-channel-input-create">
        <div><span>Channel-Name</span><span (click)="saveChannelName()">Speichern</span></div>
        <div class="edit-channel-input-area" [class.edit-channel-name-input-Error]="channelNameInputError"><span><img
                    src="/assets/img/tagChannelName.png" alt=""></span>
            <input type="text" maxlength="20" (input)="maxCharsInputControll()" value="{{filterChannel[0].title}}"
                placeholder="{{filterChannel[0].title}}" #channelInput class="edit-channel-name-input">
            <span>{{charsLeft}}</span>
        </div>
        @if(channelNameInputError){
        <div class="edit-channel-name-Error">
            @if(charsOver){
            <span>Channel-Name darf max 20 Zeichen haben!</span>
            } @else if(charsEmpty){
            <span>Channel-Name darf nicht leer sein!</span>
            }
        </div>
        }

    </div>
    }

    @if(editChannelDescription){
    <div class="edit-channel-description-input">
        <div class="edit-channel-description-textarea">
            <div><span>Beschreibung</span> @if(filterChannel[0].creator == devspaceService.loggedInUserUid){<span (click)="editChannelDescription = false">Bearbeiten</span>}</div>
            <div>{{filterChannel[0].description}}</div>
        </div>
        <div></div>
        <div class="edit-channel-creator"><span>Erstellt von</span>
            <span>{{filterCreator[0].displayName}}</span>
        </div>
    </div>

    } @else{
    <div class="edit-channel-description-input-create">
        <div class="edit-channel-description-textarea-create">
            <div><span>Beschreibung</span><span (click)="saveChannelDescription()">Speichern</span></div>
            <textarea value="{{filterChannel[0].description}}" placeholder="Hier dein Text"
                #channelDescriptionInput></textarea>
        </div>
        <div></div>
        <div class="edit-channel-creator"><span>Erstellt von</span>
            <span>{{filterCreator[0].displayName}}</span>
        </div>
    </div>

    }

    <div class="edit-channel-leave" (click)="leaveChannel()"><span class="button-primary">Channel verlassen</span></div>

</section>