.member-delete-dialog {
  background-color: var(--wite-color);
  padding: 40px 45px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  justify-content: space-between;
}
.member-delete-dialog-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.member-delete-dialog-icon {
  width: 100px;
  height: auto;
  color: var(--error-msg);
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.name-Member {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: var(--font-weight-extra-bold);
}

.member-delete-dialog-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
