

/* You can add global styles to this file, and also import other style files */
// devspace Area
:root {
    --devspace-margin-left: 20px;
    --devspace-margin-right: 20px;
    --devspace-margin-top: 115px;
    --devspace-margin-bottom: 25px;
    --devspace-max-width: 1900px;
}

//Devspace Message Input Area
:root {
    --width-devspace-message-area: calc(100vw - 440px);
}
//Colors
:root {
    --primary-color: #444df2;
    --secondary-color: #797ef3;
    --bg-color: #eceefe;   
    --white-color: #fff;
    --black-color: #000;
    --grey-dark: #686868;
    --light-purple: #adb0d9;
    --purple-3: #535af1;
    --online-green: #92c83e;
    --mail-blue: #1381ff;
}

//Fonts
@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary-color);
}

:root {
    --font-size-title-default: 24px;
    --font-size-s: 16px;
    --font-size-m: 18px;
    --font-size-l: 20px;
    --font-size-ml: 24px;
    --font-size-xl: 32px;
    --font-size-xxl: 46px;
    --font-weight-normal: 400;
    --font-weight-bold: 500;
    --font-weight-extra-bold: 700;
    --font-primary: font-family: 'Nunito';
}

//Icons
:root {
    --icon-size-s: 16px;
    --icon-size-m: 24px;
    --icon-size-l: 32px;
}



//Main
/*
  1. Use a more-intuitive box-sizing model.
    */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
    */
* {
    margin: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
    */
body {
    line-height: 1.5;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--bg-color);
}

@font-face {
    font-family: 'Nunito';
    src: url('assets/fonts/Nunito-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/*
    5. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
    */

/* p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    overflow-wrap: break-word;
    } */

/*
    8. Create a root stacking context
    */
#app-root {
    isolation: isolate;
}

// Spacing
:root {
    --border-radius-m: 20px;
    --border-radius-l: 25px;
    --border-radius-xl: 100px;
    --dropdown-radius: 30px 0 30px 30px;
}



html, body { height: 100%; }
body { margin: 0;  }



.cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none !important;
    
}

/* Profile Menu */
.mat-mdc-menu-panel.profile-menu {
  background-color: transparent;
  box-shadow: none;
}

.profile-menu .mat-mdc-menu-content {

  margin-top: 24px;
  padding:30px;
  width: 280px;
}
.cdk-overlay-connected-position-bounding-box {
  top: 200px;
}

.mat-mdc-menu-item.mat-focus-indicator:hover {
  background-color: transparent !important;
}
.profile-menu .mat-mdc-menu-content span.mat-mdc-menu-item-text {
  color: var(--black-color);
  font-size: var(--font-size-ml);
  text-align: center;
  line-height: 1.5;
}

.profile-menu .mat-mdc-menu-content {
  border-radius: var(--dropdown-radius);  
  background-color: var(--white-color);
}

/* Profil-Link */
.mat-mdc-menu-item {
  background: none;
}

/* Log Out als Link */
.mat-mdc-menu-item.logout-link {
  color: var(--deeppink-color);
}

.mat-mdc-menu-item.logout-link:hover .mat-mdc-menu-item-text {
  color: var(--primary-color);
}
.mat-mdc-dialog-surface.mdc-dialog__surface {
  background-color: transparent;
}