@if(this.devspaceService.accounts.length > 0){
<section class="devspace-area">
  <app-header></app-header>
  <section class="devspace-content">
    <app-devspace></app-devspace>
    @if(devspaceService.openMessage){
    <app-devspace-message></app-devspace-message>
    } @if(devspaceService.openChannel){
    <app-channel></app-channel>
    } @if(devspaceService.openDirectMessage){
    <app-devspace-message-direct></app-devspace-message-direct>
    } @if(devspaceService.openThread){
    <app-thread></app-thread>
    }
  </section>
  <app-workspace-open-close></app-workspace-open-close>
</section>
}
