@use '@themes/mixins.scss' as *;

.message-areas {
    padding: 20px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

    & div:nth-of-type(odd) {
        flex-grow: 1;
        border: 1px solid var(--light-purple);
    }
}


.message-area-creator {
    width: 100%;
    height: auto;
    min-height: 141px;
    padding: 10px 45px 10px 45px;
    display: flex;
    justify-content: end;
    position: relative;
    gap: 30px;
    cursor: default;

    &:hover {
        background-color: var(--bg-color);
    }

    @include respond (ml) {
        padding: 10px 20px 10px 20px;
    }

}

.message-area-member {
    width: 100%;
    height: auto;
    min-height: 141px;
    padding: 10px 45px 10px 45px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    position: relative;
    gap: 30px;
    cursor: default;

    &:hover {
        background-color: var(--bg-color);

        .message-member {
            background-color: var(--white-color);
        }
    }

    @include respond (mb) {
        gap: 15px;
    }
}

.message-name-creator {
    display: flex;
    align-items: center;
    height: 25px;
    gap: 20px;
    min-width: 0;
}

.message-name-member {
    display: flex;
    align-items: center;
    height: 25px;
    flex-direction: row-reverse;
    gap: 20px;
    min-width: 0;

}

.time {
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--light-purple);
    border-radius: 30px;
}

.create-time {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: var(--font-size-error);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--grey-dark);
}

.member-name-area {
    display: flex;
    align-items: center;

}

.member-name {

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-extra-bold);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black-color);
    height: 100%;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond (mb) {
        width: 100px;
    }
}


.profile-pic {
    flex-shrink: 0;

    & img {
        width: 70px;
        height: 70px;

        @include respond (ml) {
            width: 50px;
            height: 50px;
        }

    }
}

.message-area-text-creator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    flex-grow: 1;
}

.message-area-text-member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    flex-grow: 1;
}

.message-creator {
    display: flex;
    width: fit-content;
    max-width: 100%;
    max-height: 120px;
    height: fit-content;
    overflow: auto;
    background-color: var(--secondary-color);
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    color: var(--white-color);
}

.message-member {
    width: fit-content;
    height: fit-content;
    max-height: 120px;
    overflow: auto;
    padding: 15px;
    background-color: var(--bg-color);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black-color);
}

.message-icon-bar {
    position: absolute;
    display: flex;
    left: 45px;
    top: -10px;
    z-index: 100;
    gap: 5px;

}

.message-icon-edit-bar {
    position: absolute;
    display: flex;
    align-items: center;

    right: 0;
    top: 50px;
    z-index: 100;
    gap: 5px;

    & span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;

        & img {
            width: 24px;
            height: 24px;
        }

        &:hover {
            background-color: var(--bg-color);
            border-radius: 50%;
        }
    }
}

.message-icon-bar-member {
    position: absolute;
    right: 45px;
    display: flex;
    top: -10px;
    z-index: 100;
    gap: 5px;

}

.icon-bar-Style {
    width: fit-content;
    max-width: 255px;
    height: 46px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 15px 3px 20px;
}

.icon-edit-bar-Style {
    width: fit-content;
    height: 46px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 15px 3px 20px;
}

.message-icon-hover {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
        width: 40px;
        height: 40px;

    }

    &:hover img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--bg-color);
        border-radius: 50%;
    }
}

.message-icon-hover-check {
    &:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
        cursor: pointer;
    }
}

.message-reactions {
    width: fit-content;
    height: auto;
    display: flex;
    overflow: auto;

    @include respond(b) {
        width: 300px;

    }

    @include respond(mb) {
        width: 230px;

    }
}

.reaction-item {
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    border: 1px solid var(--light-purple);
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;
    flex-shrink: 0;

}

.reaction-img {
    display: flex;
    font-size: var(--font-size-ml);

    & img {
        width: 40px;
        width: 40px;
        object-fit: cover;
    }
}

.member-reaction {
    flex-direction: row-reverse;
}

.emoji-bar-icon-member {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    z-index: 100;
    gap: 5px;
    left: 0px;
    background-color: var(--white-color);

}

.thread {
    position: absolute;
    left: -90px;
    bottom: -100px;
}

.dm {
    position: absolute;
    left: -90px;
    bottom: -100px;
}

.emoji-bar-icon-creator {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    z-index: 100;
    gap: 5px;
    left: 0px;
    background-color: var(--white-color);

}

.emoji-bar-icon-style {
    width: 255px;
    height: fit-content;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 5px 3px 20px;

    & img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }
}

.emoji-area {
    width: 40px;
    height: 40px;

    &:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
    }
}

.thread-count {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-m);
    color: var(--purple-3);
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        font-weight: var(--font-weight-extra-bold);
    }
}

.thread-reactions {
    max-width: 289px;
    overflow: auto;
    justify-content: normal;
}

.edit-message {
    position: relative;
    display: flex;
    gap: 10px;
    background-color: var(--bg-color);
    height: 180px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    @include respond(sb) {
        padding: 10px 10px 10px 2px;
    }

    
}

.edit-profile-pic {
    width: 70px;
    height: 70px;
    flex-shrink: 0;

    @include respond(ml) {
        width: 50px;
        height: 50px;
    }

    @include respond(mb) {
        display: none;
    }
}

.edit-message-area {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 1px solid var(--light-purple);
    background-color: var(--white-color);
    padding: 20px;

    &:hover {
        border: 1px solid var(--primary-color);
    }

     
}

.edit-message-area-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.edit-text {
    width: 100%;
    height: 60px;
    resize: none;
    border: none;
    overflow: auto;
    color: var(--grey-dark);

    &:focus {
        outline: none;
        color: var(--black-color);

    }

   
}

.edit-message-area-button {
    display: flex;
    justify-content: space-between;
}

.edit-message-area-buttons {
    height: 50px;
    display: flex;
    gap: 20px;

    @include respond(ml) {
        gap: 10px;
    }
}

.btn {
    display: flex;
    justify-content: center;
    width: 140px;
    height: 50px; 
    
    @include respond(ml) {
        width: 100px;
    }
}

.emoji-bar-edit {
    width: 300px;
    height: 150px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 5px 3px 20px;
    overflow: auto;
    position: absolute;
    left: 10;
    top: -50px;
}

.emoji-item {
    font-size: var(--font-size-ml);
    cursor: pointer;
}

.thread-btn {
    & span {
        width: 100px;
    }
}

.no-message {
    width: auto;
    height: 550px;
    display: flex;
    padding-left: 45px;
    flex-direction: column;
    justify-content: end;

    @include respond(mb) {
        height: 500px;
    }
}

.no-message-title {
    display: flex;
    gap: 10px;
    height: 45px;
    padding: 6px 0;
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-extra-bold);
    color: var(--black-color);

    & img {
        width: 32px;
        height: 32px;
    }
}



.no-message-text {
    display: flex;
    height: 45px;
    align-items: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
    padding: 6px 0;
    flex-wrap: wrap;


    .no-message-text-channel {
        display: flex;
        align-items: center;
        font-size: var(--font-size-l);
        font-weight: var(--font-weight-normal);
        color: var(--purple-3);
        padding: 6px 0;

        & img {
            width: 20px;
            height: 20px;
        }
    }
}

.no-message-dm {
    width: auto;
    height: 550px;
    display: flex;
    padding-left: 45px;
    flex-direction: column;
    justify-content: end;

    @include respond(mb) {
        padding-left: 25px;
    }
}

.no-message-title-dm {
    display: flex;
    align-items: end;
    gap: 10px;
    height: 100px;
    padding: 6px 0;
    font-size: var(--font-size-ml);
    font-weight: var(--font-weight-extra-bold);
    color: var(--black-color);

    & img {
        width: 100px;
        height: 100px;

        @include respond(mb) {
            width: 70px;
            height: 70px;
        }
    }
}

.no-message-text-dm {
    display: flex;
    min-height: 45px;
    width: 100%;
    align-items: center;
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-normal);
    gap: 5px;
    color: var(--grey-dark);
    flex-wrap: wrap;

    & span:nth-of-type(2) {
        color: var(--purple-3);
        display: flex;
        align-items: center;
        @include respond(sl) {
            width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    & img {
        width: 20px;
        height: 20px;
    }
}

.no-message-title-name{
    @include respond(sl) {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .message-reactions {
        max-width: 300px;
    }

}