.message-areas {
    padding: 20px 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
}

.message {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;

    & div:nth-of-type(odd) {
        flex-grow: 1;
        border: 1px solid var(--light-purple);
    }
}


.message-area-creator {
    width: 100%;
    min-height: 141px;    
    padding: 10px 45px 10px 45px;
    display: flex;
    justify-content: end;
    position: relative;
    gap: 30px;
    cursor: default;

    &:hover {
        background-color: var(--bg-color);
    }

}

.message-area-member {
    width: 100%;
    min-height: 141px;    
    padding: 10px 45px 10px 45px;
    display: flex;
    justify-content: start;
    flex-direction: row-reverse;
    position: relative;
    gap: 30px;
    cursor: default;

    &:hover {
        background-color: var(--bg-color);

        .message-member {
            background-color: var(--white-color);
        }
    }
}

.message-name-creator {
    display: flex;
    align-items: center;
    height: 25px;
    gap: 20px;
    min-width: 0;
}

.message-name-member {
    display: flex;
    align-items: center;
    height: 25px;
    flex-direction: row-reverse;
    gap: 20px;
    min-width: 0;

}

.time {
    padding: 5px 15px 5px 15px;
    border: 1px solid var(--light-purple);
    border-radius: 30px;
}

.create-time {
    display: flex;
    height: 100%;
    align-items: center;
    font-size: var(--font-size-error);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--grey-dark);
}

.member-name-area {
    display: flex;
    align-items: center;
}

.member-name {

    font-size: var(--font-size-m);
    font-weight: var(--font-weight-extra-bold);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black-color);
    height: 100%;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}


.profile-pic {
    flex-shrink: 0;

    & img {
        width: 70px;
        height: 70px;

    }
}

.message-area-text-creator {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    flex-grow: 1;
}

.message-area-text-member {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
    flex-grow: 1;
}

.message-creator {
    display: flex;
    width: fit-content;
    max-height: 120px;
    height: fit-content;
    overflow: auto;
    background-color: var(--secondary-color);
    padding: 15px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    color: var(--white-color);


}

.message-member {
    width: fit-content;
    height: fit-content;
    max-height: 120px;
    overflow: auto;
    padding: 15px;
    background-color: var(--bg-color);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-normal);
    line-height: 100%;
    letter-spacing: 0;
    color: var(--black-color);
}

.message-icon-bar {
    position: absolute;
    display: flex;
    left: 45px;
    top: -10px;
    z-index: 100;
    gap: 5px;

}

.message-icon-bar-member {
    position: absolute;
    right: 45px;
    display: flex;
    top: -10px;
    z-index: 100;
    gap: 5px;

}

.icon-bar-Style {
    width: fit-content;
    max-width: 255px;
    height: 46px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 15px 3px 20px;
}

.message-icon-hover {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;    
    flex-shrink: 0;

    img {
        width: 40px;
        height: 40px;

    }

    &:hover img {
        width: 24px;
        height: 24px;
    }

    &:hover {
        cursor: pointer;
        background-color: var(--bg-color);
        border-radius: 50%;
    }
}

.message-icon-hover-check {
    &:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
        cursor: pointer;
    }
}

.message-reactions {
    max-width: 400px; 
    height: auto;   
    display: flex;    
    overflow: auto;
}

.message-reactions-member {
    max-width: 400px;    
    display: flex;    
    overflow: auto;
}

.reaction-item {
    display: flex;
    width: 80px;
    height: 40px;
    align-items: center;
    border: 1px solid var(--light-purple);
    border-radius: 30px;
    padding: 2px;
    cursor: pointer;
    flex-shrink: 0;

}

.reaction-img {
    display: flex;
    font-size: var(--font-size-ml);

    & img {
        width: 40px;
        width: 40px;
        object-fit: cover;
    }
}

.member-reaction {
    flex-direction: row-reverse;
}

.emoji-bar-icon-member {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    z-index: 100;
    gap: 5px;
    left: 0px;
    background-color: var(--white-color);

}

.thread{
    position: absolute;
    left: -90px;
    bottom: -100px;
}

.emoji-bar-icon-creator {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    bottom: -100px;
    z-index: 100;
    gap: 5px;
    left: 0px;
    background-color: var(--white-color);

}

.emoji-bar-icon-style {
    width: 255px;
    height: fit-content;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    background-color: var(--white-color);
    border: 1px solid var(--light-purple);
    padding: 3px 5px 3px 20px;

    & img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        cursor: pointer;
    }
}

.emoji-area {
    width: 40px;
    height: 40px;

    &:hover {
        background-color: var(--bg-color);
        border-radius: 50%;
    }
}

.thread-count {
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-m);
    color: var(--purple-3);
    cursor: pointer;

    &:hover {
        color: var(--primary-color);
        font-weight: var(--font-weight-extra-bold);
    }
}

.thread-reactions{
    max-width: 289px;
    overflow:auto;
    justify-content: normal;
}